.associatedContacts
{
    margin-top: 0%;
    margin-bottom: 4%;
    padding-top: 2.5%;
}

.associatedContacts label
{
    margin-bottom: 1rem;
    font-weight: bold;
}

.associatedContacts input
{
    width: 90%;
}

.addPersonMainDiv input
{
    width:100%;
    margin-bottom: 10%;
}