.associatedContacts {
  margin-top: 0%;
  margin-bottom: 4%;
  padding-top: 2.5%;
  color: #212529;
  padding-left: 15px;
  /* margin-right: -90px; */
  width: 100%;
}

.associatedContacts label {
  margin-bottom: 1rem;
  font-size: 14px;
}

.associatedContacts-label {
  display: flex;
  flex-direction: row;
  justify-content: left;
  align-items: center;
}

.associatedContacts-label-btn {
  display: flex;
  flex-direction: column;
  margin-left: 10px;
}

.label-btn-img-1 {
  margin-bottom: 1px;
  width: 10px;
  height: 10px;
}

.label-btn-img-2 {
  width: 10px;
  height: 10px;
}

.contacttdatadiv {
  height: 50px;
  background-color: #e8ebed;
  padding-top: 15px;
  color: #1f252c;
}
.col-1 {
  padding: 0px 5px;
}
.col-2 {
  text-overflow: ellipsis " [..]" !important;
}
.col-2 p {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.lightcontacttdatadiv {
  height: 50px;
  padding-top: 15px;
}

.lightcontacttdatadiv p {
  font-size: 15px;
}

.contacttdatadiv p {
  font-size: 15px;
}

.contacttdatadiv:hover {
  background-color: #dceeff;
}
.lightcontacttdatadiv:hover {
  background-color: #dceeff;
}
.associatedContacts input {
  width: 100%;
}

.addPersonMainDiv input {
  width: 100%;
  margin-bottom: 10%;
}
.addPersonDiv {
  height: 100%;
  width: 100%;
}
.titleDiv {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 30px;
  background-color: #002b5c;
}
.titleDiv h2 {
  color: white;
  font-size: 22px;
}
.titleDiv p {
  color: white;
  font-size: 20px;
}
.inputtDiv {
  display: flex !important;
  flex-wrap: wrap;
  flex-direction: row;
  margin-top: 10px;
  padding-left: 2px;
}
.AddInput {
  width: 265px;
  height: 50px;
  border: none;
  border-bottom: 1px solid rgb(204, 204, 204);
  padding-left: 10px;
  margin-right: 7px;
  margin-left: 9px;
  margin-bottom: 10px;
  outline: none;
  color: rgb(94, 94, 94);
  font-size: 14px;
}
.AddInput::placeholder {
  color: rgb(94, 94, 94);
  font-size: 14px;
}
.labelll {
  height: 55px;
  display: flex;
  align-items: center;
  width: 100%;
  padding-left: 30px;
  background-color: rgb(233, 233, 233);
  margin-top: 20px;
}
.labelll h3 {
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 0;
}
.modal-body {
  padding: 0;
}
.personnbtnDiv {
  display: flex;
  justify-content: right;
  margin-left: 80%;
}
.personncancel {
  background-color: #c4cacd;
  border-radius: 0.4rem;
  /* color: white; */
  padding: 10px 14px;
  margin-right: 2%;
  font-size: small;
  color: black;
  margin-right: 10px;
  border: none;
  box-shadow: 0px 3px 1px -2px rgb(0 0 0 / 20%),
    0px 2px 2px 0px rgb(0 0 0 / 14%), 0px 1px 5px 0px rgb(0 0 0 / 12%);
}
.personnAdd {
  background-color: #c4cacd;
  border-radius: 0.4rem;
  /* color: white; */
  padding: 10px 14px;
  border: none;
  margin-right: 2%;
  font-size: small;
  color: black;
  box-shadow: 0px 3px 1px -2px rgb(0 0 0 / 20%),
    0px 2px 2px 0px rgb(0 0 0 / 14%), 0px 1px 5px 0px rgb(0 0 0 / 12%);
}
