.pagesDiv{
    margin-left: 270px;
    transition: 1s ease;
    
    background-color: #F7F8FC;
    min-height: 100vh;
    height: 100%;
    padding-bottom: 40px;
}
.pagesDiv.fullwidth{
    margin-left: 70px;
}
.stripes{
    
}