.propertyPopup-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  display: flex;
  justify-content: center;
  align-items: center;
}

.propertyPopup-grid {
  position: relative;
  top: 0%;
  left: 8%;
  background-color: #fff;
  border-radius: 5px;
  width: 40%;
  /* text-align: center; */
  /* padding: 0px 10px 0px 10px; */
  /* box-shadow: 0px 6px 35px rgba(85, 85, 85, 0.7); */
  box-shadow: 0px 2px 4px -1px rgb(0 0 0 / 20%),
    0px 4px 5px 0px rgb(0 0 0 / 14%), 0px 1px 10px 0px rgb(0 0 0 / 12%);
}

.propertyDiv {
  /* margin: 10px 20px; */
  padding-bottom: 20px;
}

.propertyPageHeadings {
  background-color: #dee2e5;
  border-bottom: 1px solid lightgray;
  display: flex;
  justify-content: space-between;

  align-items: center;
  padding: 8px 30px;
}

.propertyPagesubHeads {
  background-color: #ffff;
}

.propertyPageBtns {
  background-color: lightgray;
  border-radius: 0.4rem;
  color: black;
  box-shadow: 0px 3px 1px -2px rgb(0 0 0 / 20%),
    0px 2px 2px 0px rgb(0 0 0 / 14%), 0px 1px 5px 0px rgb(0 0 0 / 12%);

  padding: 8px 5px;
  border: none;
  margin-right: 3%;
  width: 110px;
  display: flex;
  justify-content: center;
  font-size: 14px;
}

.propertyPageBtns:disabled:hover {
  cursor: no-drop;
}

.propertyPageHeads {
  font-size: 16px;
  margin-bottom: 0px;
  color: #0c244c;
  font-weight: 600;
  font-family: 'Poppins', 'Mulish', sans-serif !important;
}

.propertyPagesubHeads {
  padding: 20px 20px;
}

.associatedContacts-label-btn {
  display: flex;
  flex-direction: column;
  margin-left: 10px;
}

.label-btn-img-1 {
  margin-bottom: 1px;
  width: 10px;
  height: 10px;
}

.label-btn-img-2 {
  width: 10px;
  height: 10px;
}

.propertyPagesubHeads input {
  width: 95%;
  margin-bottom: 5%;
}

.propertyPageFirstDiv {
  padding-top: 2%;
}

.searchBtn {
  margin: 5% 0 5% 70%;
}

.lotsScrollDiv {
  overflow-x: hidden;
  overflow-y: scroll;
  text-align: justify;
  width: 100%;
  max-height: 125px;
}
.lotsScrollDiv::-webkit-scrollbar {
  width: 8px !important;
  border-radius: 50% !important;
}
.lotsScrollDiv::-webkit-scrollbar-track {
  background-color: rgb(255, 255, 255) !important;
}
.lotsScrollDiv::-webkit-scrollbar-thumb {
  background-color: rgb(255, 255, 255) !important;
}
.lotsScrollDiv:hover::-webkit-scrollbar-thumb {
  background-color: rgb(184, 184, 184) !important;
}
.popupFormInputs {
  width: 90%;
  margin-bottom: 10%;
}

.editBtn {
  background-color: transparent;
  border: none;
}
.modal-header {
  background-color: #002b5c;
  color: white;
}
.relatedMattersDiv h6 {
  height: 55%;
}

.newPropertyBtnTray {
  display: flex;
  background-color: #c7c7c7;
  padding: 0px 0;
  justify-content: space-between;
  padding-right: 20px;
}

.newPropertyMainBtns {
  background-color: #c7c7c7;
  border: none;
  height: 3rem;
}

.newPropertyMainBtnsClicked {
  background-color: white;
}

.leftPropertyDiv {
  background-color: white;
  padding-top: 30px;
  padding-left: 10px;
  padding-right: 10px;
}

.hideSection {
  display: none;
}

.particularPrprty:hover {
  background-color: pink;
}
.generalDiv {
  padding: 20px 30px;
}
.generalDiv input {
  margin-bottom: 10px;
}

.propertyButton-div {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.propertyButton-delete {
  border-radius: 0.4rem;
  color: #fff;
  box-shadow: 0px 3px 1px -2px rgb(0 0 0 / 20%),
    0px 2px 2px 0px rgb(0 0 0 / 14%), 0px 1px 5px 0px rgb(0 0 0 / 12%);
  padding: 8px 5px;
  margin-right: 3%;
  width: 110px;
  font-size: 14px;
  background-color: #002b5c;
  border: 1px solid #002b5c;
}

/* @media(max-width:400px{
    
}) */

/** Confirmation Pop up **/
.confirmation-popup-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  display: flex;
  justify-content: center;
  align-items: center;
}

.confirmation-popup-grid {
  position: relative;
  top: 0%;
  left: 8%;
  background-color: #fff;
  border-radius: 5px;
  width: 45%;
  /* height: 60%; */
  box-shadow: 0px 2px 4px -1px rgb(0 0 0 / 20%),
    0px 4px 5px 0px rgb(0 0 0 / 14%), 0px 1px 10px 0px rgb(0 0 0 / 12%);
}

.confirmation-header {
  background-color: #002b5c;
  color: #fff;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 12px 25px;
}

.confirmation-heading {
  font-size: 1.2rem;
}

.confirmation-para {
  font-size: 1.2rem;
  font-weight: 600;
  letter-spacing: 1px;
  margin: 1rem;
  padding: 10px;
}

.close-form-btn {
  border: none;
  background-color: #002b5c;
  color: #fff !important;
  font-size: 0.8rem;
  outline: none;
}

.close-form-btn img {
  height: 1rem;
  width: 1rem;
}

.confirmation-buttonDiv {
  width: 95%;
  margin: auto;
  margin-top: 1.6rem;
  margin-bottom: 1.6rem;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
}

.confirmation-buttonDiv .cancelButton {
  width: 20%;
  font-size: 0.9rem;
  font-weight: 600;
  border-radius: 5px;
  padding: 5px 10px;
  outline: none;
  color: Black;
  margin: 0 10px;
  background-color: #c4cacd;
  box-shadow: 0px 3px 1px -2px rgb(0 0 0 / 20%),
    0px 2px 2px 0px rgb(0 0 0 / 14%), 0px 1px 5px 0px rgb(0 0 0 / 12%);
}

.confirmation-buttonDiv .addButton {
  width: 20%;
  font-size: 0.9rem;
  font-weight: 600;
  padding: 5px 8px;
  color: Black;
  margin: 0 10px;
  background-color: #c4cacd;
  border-radius: 5px;
  outline: none;
  box-shadow: 0px 3px 1px -2px rgb(0 0 0 / 20%),
    0px 2px 2px 0px rgb(0 0 0 / 14%), 0px 1px 5px 0px rgb(0 0 0 / 12%);
}

.rowWise {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
.rowWise select {
  width: 86%;
  padding: 2px;
}
