.safe-custody-btns-div
{
    background-color: #F0F0F0;
    display: flex;
}

.safe-custody-btns
{
    background-color: transparent;
    background-repeat:no-repeat;
    border: none;
}

.safe-custody-btns-clicked
{
    background-color :#ffff;
}

.safe-custody-div
{
    margin: 2%;
    background-color: #ffff;
    height: 80vh;
}

.contentsInfo input
{
    width: 60%;
    border: none;
    font-weight: bold;
}

.contentsInfo label
{   
    width: 100%;
    color: #A0A5AA;
}

.safeContentsTop
{
    display: flex;
    justify-content: space-between;
    padding: 1.5%;
}

.custodyPageBtns
{
    width: 20%;
}

.custodyPageBtns button
{
    background-color: #002B5C;
    border-radius: 0.4rem;
    color: white;
    padding: 0.5% 2%;
    margin-right: 2%;
}

.associatedDocs
{
    background-color:  #F0F0F0;
    display: flex;
    justify-content: space-between;
    padding: 1%;
}

.associatedDocsHead
{
    margin-top: 1.5%;
}

.associatedDocsHead label
{
   font-weight: bold;
}

.popupAddContents
{
    background-color: #002B5C;
    border-radius: 0.4rem;
    color: white;
    padding: 0.5% 2%;
    margin-right: 2%;
}

.recepientsTop
{
    width: 25%;
}

.recepientsTop button
{
    background-color: #002B5C;
    border-radius: 0.4rem;
    color: white;
    padding: 0.5% 2%;
    margin-right: 5%;
}

